ul.share-buttons
	li.share-icon.twitter
		a(title='Tweet' class='share-action icon icon-twitter' target='_blank')
	li.share-icon.facebook
		a(title='Share on Facebook' class='share-action icon icon-facebook' target='_blank')
	li.share-icon.linkedin
		a(title='Share on LinkedIn' class='share-action icon icon-linkedin' target='_blank')
	li.share-icon.email
		a(title='Email' class='share-action icon icon-email' target='_blank')
