// Quartz color schemes
// NOTE: higher number = darker
// Color ramps are at http://data.qz.com/colors

// Text
$qz-header-black = #333333
$qz-body-black = #4C4C4C
$qz-body-link-blue = #168dd9
$qz-background-gray = #f9f9f9

// Blues
$qz-blue-1 = #51b2e5
$qz-blue-2 = #168dd9
$qz-blue-3 = #00609f
$qz-blue-4 = #154866

// Purples
$qz-purp-1 = #d190b6
$qz-purp-2 = #d365ba
$qz-purp-3 = #ab5787
$qz-purp-4 = #703c5c

// Grays
$qz-gray-1 = #c4c4c4
$qz-gray-2 = #969696
$qz-gray-3 = #666666

// Other data colors
$qz-ora-1 = #E5A451
$qz-ora-2 = #9F5C00
$qz-gre-1 = #94D365
$qz-gre-2 = #3C703C

// Map colors
$qz-map-land-fill = #E4E4E4
$qz-map-land-stroke = #FFFFFF
$qz-map-graticule = #EEEEEE
$qz-map-water = $qz-background-gray
$qz-map-water-highlight = #d9ebf6
$qz-map-highlight = $qz-purp-2

// Chart colors
$qz-chart-gridline = #EEEEEE
$qz-chart-meta = #CCCCCC
$qz-chart-axis-text = #9C9C9C
$qz-chart-title-text = #333333
$qz-chart-zeroline = #A8A8A8

// Misc
$qz-error = #c25250
$qz-success = #1e866c
$color-debug = #ff8080
