.icon
	font-family 'QZIcons'
	speak none
	font-style normal
	font-weight normal
	font-variant normal
	text-transform none
	line-height 1
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

.icon-expand-arrow:before
	content "\e607"

.icon-instagram:before
	content "\e612"

.icon-link:before
	content "\e61b"

.icon-share:before
	content "\e61c"

.icon-reply-arrow:before
	content "\e618"

.icon-star:before
	content "\e619"

.icon-www:before
	content "\e61a"

.icon-left-arrow:before
	content "\e617"

.icon-annotations-rollover:before
	content "\e600"

.icon-annotations:before
	content "\e601"

.icon-camera:before
	content "\e602"

.icon-close:before
	content "\e603"

.icon-daily-brief:before
	content "\e604"

.icon-down-arrow:before
	content "\e605"

.icon-email:before
	content "\e606"

.icon-facebook:before
	content "\e608"

.icon-google-plus:before
	content "\e609"

.icon-hamburrow:before
	content "\e60a"

.icon-linkedin:before
	content "\e60b"

.icon-pause:before
	content "\e60c"

.icon-pinterest:before
	content "\e60d"

.icon-play:before
	content "\e60e"

.icon-quartz:before
	content "\e60f"

.icon-search:before
	content "\e610"

.icon-settings:before
	content "\e611"

.icon-sponsored:before
	content "\e613"

.icon-twitter:before
	content "\e614"

.icon-whats-app:before
	content "\e615"

.icon-zoom:before
	content "\e616"
