// Icon-related colors
$color-twitter = #00aced
$color-facebook = #3b5998
$color-linkedin = #007bb6
$color-email = #0096b6
$color-icon-hover = #c3c5c0

ul.share-buttons
	list-style-type none
	margin 0
	padding 0

li.share-icon
	display inline-block
	font-size 1.2em
	a
		text-decoration none
		cursor pointer

.icon-email
	color $color-email
	&:hover
		color $color-icon-hover

.icon-facebook
	color $color-facebook
	&:hover
		color $color-icon-hover

.icon-linkedin
	color $color-linkedin
	&:hover
		color $color-icon-hover

.icon-twitter
	color $color-twitter
	&:hover
		color $color-icon-hover
