@font-face {
	font-family: 'AdelleSans-Bold';
	src: url('https://app.qz.com/fonts/AdelleSansWeb/AdelleSansBasic_Bold.eot');
	src: url('https://app.qz.com/fonts/AdelleSansWeb/AdelleSansBasic_Bold.eot?#iefix') format('embedded-opentype'),
			 url('https://app.qz.com/fonts/AdelleSansWeb/AdelleSansBasic_Bold.woff') format('woff'),
			 url('https://app.qz.com/fonts/AdelleSansWeb/AdelleSansBasic_Bold.ttf') format('truetype');
	font-weight: 700;
}

@font-face {
	font-family: 'AdelleSans-Light';
	src: url('https://app.qz.com/fonts/AdelleSansWeb/AdelleSansBasic_Light.eot');
	src: url('https://app.qz.com/fonts/AdelleSansWeb/AdelleSansBasic_Light.eot?#iefix') format('embedded-opentype'),
			 url('https://app.qz.com/fonts/AdelleSansWeb/AdelleSansBasic_Light.woff') format('woff'),
			 url('https://app.qz.com/fonts/AdelleSansWeb/AdelleSansBasic_Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AdelleSans-Regular';
	src: url('https://app.qz.com/fonts/AdelleSansWeb/AdelleSansBasic_Regular.eot');
	src: url('https://app.qz.com/fonts/AdelleSansWeb/AdelleSansBasic_Regular.eot?#iefix') format('embedded-opentype'),
			 url('https://app.qz.com/fonts/AdelleSansWeb/AdelleSansBasic_Regular.woff') format('woff'),
			 url('https://app.qz.com/fonts/AdelleSansWeb/AdelleSansBasic_Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'QZIcons';
	src: url('https://app.qz.com/fonts/qz-icons.eot?v=4');
	src: url('https://app.qz.com/fonts/qz-icons.eot?v=4#iefix') format('embedded-opentype'),
			 url('https://app.qz.com/fonts/qz-icons.woff2?v=4') format('woff2'),
			 url('https://app.qz.com/fonts/qz-icons.woff?v=4') format('woff'),
			 url('https://app.qz.com/fonts/qz-icons.ttf?v=4') format('truetype'),
			 url('https://app.qz.com/fonts/qz-icons.svg?v=4') format('svg');
	font-weight: normal;
	font-style: normal;
}


// Fonts
$qz-sans = 'AdelleSans-Regular','Helvetica Neue', 'HelveticaNeue', Helvetica, Arial,sans-serif
$qz-sans-light = 'AdelleSans-Light', 'AdelleSans-Regular','Helvetica Neue Light', 'HelveticaNeue-Light', Helvetica, Arial,sans-serif
$qz-sans-bold = 'AdelleSans-Bold', Helvetica, Arial, sans-serif
$qz-serif = "PT Serif", Georgia, serif
$qz-font-body = $qz-serif
