h1 Datashaper

p This tool reformats a CSV dataset so it will display well in <a href="https://www.theatlas.com/">Atlas</a>. If you are familiar with "pivot tables" in Excel or Google Spreadsheets, the functionality is very similar.

div#upload.section
    h2 Upload a file

    p Select a file to upload, or drag and drop a file onto this window. Your file must have a header row!
    
    input(type="file")

div#columns.section
    h2 Choose your columns

    p Please select how each column should be used in your table.
    
    table
        thead
            tr
                th Column
                th Use as labels<br /><span class="subhead">(Row names)</span>
                th Use as categories<br /><span class="subhead">(Column names)</span>
                th Use as values
                th Ignore
        tbody
            form

div#output.section
    h2 Your data, ready for Atlas

    div#pivottable
        
