div#intro.section
    h1 📈 Datashaper

    p This tool reformats a CSV dataset so it will display well in <a href="https://www.theatlas.com/">Atlas</a>. If you are familiar with "pivot tables" in Excel or Google Spreadsheets, the functionality is similar.

div#upload.section
    h2 Upload a CSV file

    p Select a file to upload. Your data must have a header row!
    
    input(type="file")
    
    p Or, paste CSV here:
    
    textarea

div#columns.section
    h2 Choose your columns

    p Datashaper transforms your source data into a new table. Please select how each column from your source should be used in the new table. You will see a preview of this table to the right. 👉🏽
    
    ul
        li <strong class="rows">Rows</strong> appear down the left-hand side of the output table. These are the data "labels" in Atlas. (Country names, for example.)
        li <strong class="columns">Columns</strong> appear across the top of the table. One output column will be created for each unique value in the source column. These are used, for example, when you have data by country that you want to display as multiple series on your Atlas chart.
        li <strong class="values">Values</strong> are the actual numeric values to be charted.
    
    table
        thead
            tr
                th CSV column
                th Use as Rows
                th Use as Columns
                th Use as Values
                th Ignore
        tbody
            form
            
    div.warnings

div#aggregation.section
    h2 Decide how to aggregate values
    
    p.reason
    
    p If you aren't sure what to pick, you probably want to choose <strong>add values</strong>.
    
    label Choose a method:
        select
            option(value="sum", selected="selected") Add values
            option(value="average") Average values
            option(value="count") Count all values
            option(value="countUnique") Count unique values
            option(value="min") Pick smallest value
            option(value="max") Pick largest value
            option(value="first") Pick first value from the data
            option(value="last") Pick last value from the data
            option(value="pct_sum_row") Add values and divide by row total (Percent)
            option(value="pct_sum_col") Add values and divide by column total (Percent)
            option(value="pct_sum_total") Add values and divide by table total (Percent)
            option(value="pct_count_row") Count values and divide by row total (Percent)
            option(value="pct_count_col") Count values and divide by column total (Percent)
            option(value="pct_count_total") Count values and divide by table total (Percent)
            
            
div#options.section
    h2 Tweak as needed
    
    p Use these options to further customize your table.
    
    div.option
        label Sort table
            select#sort
                option(value="rowAsc", selected="selected") Ascending by rows
                option(value="rowDesc") Descending by rows
                option(value="valueAsc") Ascending by value
                option(value="valueDesc") Descending by value
                option(value="none") In the same order as the original data

    div.option
        label Divide values by
            select#divide
                option(value="1") Nothing
                option(value="1000") 1,000
                option(value="1000000") 1,000,000
                option(value="1000000000") 1,000,000,000
                option(value="1000000000000") 1,000,000,000,000

    div.option
        label Digits to include after a decimal point
            select#decimal
                option(value="0") 0
                option(value="1") 1
                option(value="2", selected="selected") 2
                option(value="3") 3
                
    p You're done! Use the pink "Copy as Atlas-ready TSV" button to copy the table to your clipboard. You can then paste it directly into Atlas.
        
div#preview
    div.head
        span Table preview
        button#copy Copy as Atlas-ready TSV

    div#pivottable

    div#copytable
