div#intro.section
    h1 📈 Datashaper

    p This tool reformats a CSV dataset so it will display well in <a href="https://www.theatlas.com/">Atlas</a>. If you are familiar with "pivot tables" in Excel or Google Spreadsheets, this works in a similar way.

div#upload.section
    h2 Upload a CSV file

    p Select a <code>.csv</code> file to upload. Your data must have a header row!
    
    p If you have an Excel file (<code>.xls</code> or <code>.xlsx</code>) you will first need to "Save As" and select "CSV" as the file type.
    
    input(type="file")
    
    p Or, paste CSV here:
    
    textarea
    
    a.sample(href="#") Load sample state taxes dataset

div#columns.section
    h2 Choose your columns

    p Use the drop-downs to select how each column from the original table should be used in the new table. You can see a preview of the new table to the right. 👉🏽
    
    table
        thead
            tr.fields
            tr.names
        tbody
            
    div.warnings

div#aggregation.section
    h2 Decide how to aggregate values
    
    p.reason
    
    p If you aren't sure what to pick, you may want to choose "Add values," which will simple together the values from all rows in the group.
    
    p
        label Choose a method:
            select
                option(value="sum", selected="selected") Add values
                option(value="average") Average values
                option(value="count") Count number of values
                option(value="countUnique") Count number of unique values
                option(value="min") Use smallest value
                option(value="max") Use largest value
                option(value="first") Use first value from the original data
                option(value="last") Use last value from the original data
                option(value="pct_sum_row") Add values and divide by total of new row (%)
                option(value="pct_sum_col") Add values and divide by total of new column (%)
                option(value="pct_sum_total") Add values and divide by total of new table (%)
                option(value="pct_count_row") Count values and divide by total new row (%)
                option(value="pct_count_col") Count values and divide by total of new column (%)
                option(value="pct_count_total") Count values and divide by table of new table (%)
            
            
div#options.section
    h2 Tweak as needed
    
    p Use these options to further customize your table.
    
    p.options
        div.option
            label Sort table
                select#sort
                    option(value="rowAsc", selected="selected") Ascending by rows
                    option(value="rowDesc") Descending by rows
                    option(value="valueAsc") Ascending by value
                    option(value="valueDesc") Descending by value
                    option(value="none") In the same order as the original data

        div.option
            label Divide values by
                select#divide
                    option(value="1") Nothing
                    option(value="1000") 1,000
                    option(value="1000000") 1,000,000
                    option(value="1000000000") 1,000,000,000
                    option(value="1000000000000") 1,000,000,000,000

        div.option
            label Round to
                select#decimal
                    option(value="0") Whole number
                    option(value="1") 1 decimal place
                    option(value="2", selected="selected") 2 decimal places
                    option(value="3") 3 decimal places
                
    p You're done! Use the pink "Copy table for Atlas" button to copy the table to your clipboard. You can then paste it directly into Atlas.
        
div#preview
    div.head
        span Results preview
        button#copy Copy table for Atlas

    div#pivottable

    div#copytable
