h1 Datashaper

p This tool reshapes a CSV dataset so it will display correctly in <a href="https://www.theatlas.com/">Atlas</a>. If you are familiar with "pivot tables" in Excel or Google Spreadsheets, the functionality is very similar.

label Select a file to upload, or drag and drop a file onto this window.

div#csv
    input(type="file")

div#output
