div#intro.section
    h1 Datashaper

    p This tool reformats a CSV dataset so it will display well in <a href="https://www.theatlas.com/">Atlas</a>. If you are familiar with "pivot tables" in Excel or Google Spreadsheets, the functionality is very similar.

div#upload.section
    h2 Upload a file

    p Select a file to upload, or drag and drop a file onto this window. Your file must have a header row!
    
    input(type="file")

div#columns.section
    h2 Choose your columns

    p Please select how each column should be used in your table.
    
    table
        thead
            tr
                th &nbsp;
                th Rows
                th Columns
                th Values
                th Ignore
        tbody
            form

div#aggregation.section
    h2 Decide how to aggregate values
    
    p If you're column contains more than one row or column with the same "name", then the values from the corresponding cells will need to be summarized in your output table. 
    
    p If you aren't sure what to pick, you probably want to <strong>add values</strong>.
    
    label Choose a method:
        select
            option(value="sum", selected="selected") Add values
            option(value="average") Average values
            option(value="count") Count all values
            option(value="countUnique") Count unique values
            option(value="min") Pick smallest value
            option(value="max") Pick largest value
            option(value="first") Pick first value from the data
            option(value="last") Pick last value from the data
            
div#options.section
    h2 Tweak as needed
    
    p Use these options to further customize your table.
    
    div.option
        label Sort table
            select#sort
                option(value="rowAsc", selected="selected") Ascending by row names
                option(value="rowDesc") Descending by row names
                option(value="valueAsc") Ascending by value
                option(value="valueDesc") Descending by value
                option(value="none") In the same order as the original data

    div.option
        label Divide values by
            select#divide
                option(value="1") Nothing
                option(value="1000") A thousand
                option(value="1000000") A million
                option(value="1000000000") A billion
                option(value="1000000000000") A trillion

    div.option
        label Digits to include after a decimal point
            select#decimal
                option(value="0") 0
                option(value="1") 1
                option(value="2", selected="selected") 2
                option(value="3") 3
        
div#preview
    div.head
        span Table preview
        button#copy Copy as Atlas-ready TSV    

    div#pivottable

    div#copytable
