// Page layout setup

html, body
	min-width 270px
	font-family $qz-font-body
	color $qz-body-black
	background-color $qz-background-gray

h1, h2, h4, h5
	font-family $qz-sans-bold
	color $qz-header-black

h1
	line-height 50px
	margin-bottom 10px

h2
	font-size 24px
	line-height 24px
	font-style bold
	margin 40px 0px

h3
	font-size 20px
	font-family $qz-serif
	color: $qz-header-black
	font-weight: bold;

p
	position relative
	margin 0 0 0 0
	padding 16px 0 16px 0
	line-height 1.6
	color #4c4c4c

.item-body
	margin 0 auto
	//max-width 940px

#interactive-content
	width 100%
	margin-left auto
	margin-right auto
