body
    padding 10px
    border 5px dotted
    border-color $qz-background-gray
    height 100

.drop-border
    border-color lightgrey

.item-body
    h1
        font-size 36px
        font-weight bold
        margin-top 0
        margin-bottom 0

    h2
        margin-top 0
        margin-bottom 0

    p
        .hint
            font-size 0.8em

.section
    display none
    width 45%
    margin-top 30px

#intro
    display block
    margin-top 5px

#upload
    input
        margin-top 10px

#columns
    table
        width: 100%

        th
            text-align left
            vertical-align top
            border-bottom 1px solid $qz-gray-1

            &:first-child
                border-bottom none

        th, td
            padding 5px 15px 5px 5px
            text-align center

            &.name
                font-family monospace

        tr th:first-child, tr td:first-child
            text-align left

        tr td:first-child
            border-right 1px solid $qz-gray-1

    .warnings
        margin-top 10px

        p
            color: $qz-error
            font-weight bold

#options
    .option
        margin-bottom 10px

#preview
    display: none
    width: 50%
    position: fixed
    left: 50%
    top: 10px

    .head
        height 45px

        span
            font-weight bold
            font-family $qz-sans
            line-height 2em
            font-size 16px

        button
            float right
            color white
            border none
            background-color $qz-purp-2
            font-family $qz-sans
            border-radius 3px
            margin 2px 14px 2px 0
            vertical-align middle
            padding 0px 8px
            line-height 2em

            &:focus
                outline 0

    table
        font-size 12px
        text-align left
        border-collapse collapse

        th
            background-color $qz-map-land-fill
            font-weight bold

        th, td
            padding 5px
            border 1px solid $qz-gray-1
            text-align right

    #copytable
        display none
