$rowColor = lighten($qz-ora-1, 60%)
$colColor = lighten($qz-gre-1, 60%)
$valColor = lighten($qz-blue-1, 60%)

body
    padding 10px
    border 5px dotted
    border-color $qz-background-gray
    height 100

.rows
    background-color $rowColor

.columns
    background-color $colColor

.values
    background-color $valColor

.drop-border
    border-color lightgrey

.item-body
    h1
        font-size 36px
        font-weight bold
        margin-top 0
        margin-bottom 0

    h2
        margin-top 0
        margin-bottom 0

    p
        padding 8px 0

        .hint
            font-size 0.8em

.section
    display none
    width 50%
    margin-top 20px
    padding-top 20px
    border-top 1px solid #eee

#intro
    display block
    margin-top 5px

#upload
    input
        margin-top 15px
        margin-bottom 10px

    textarea
        width 100%
        height: 100px
        font-size: 14px

    p code
        background-color: lighten($qz-purp-1, 60%)

    .sample
        font-size 12px
        font-family $qz-sans

#columns
    .column-count, .row-count
        font-weight bold

    ul
        margin-top 5px

        li
            font-size 18px
            line-height 24px

    table
        width: 100%
        margin 10px 0
        font-size 14px
        font-family $qz-sans

        th
            text-align left
            vertical-align bottom

            select
                font-weight normal
                width 100%

        tr.names
            border-bottom 1px solid $qz-gray-1

        th, td
            padding 5px 15px 5px 5px
            text-align left
            width 15%

            &.name
                width 25%

        tr th:first-child, tr td:first-child
            text-align left

    .warnings
        margin-top 10px

        p
            color: $qz-error
            font-weight bold

#aggregation
    p.reason span
        font-weight bold

    label
        font-weight bold
        font-family $qz-sans
        font-size 16px

        select
            font-weight normal

#options
    .option
        margin-bottom 10px

        label
            font-weight bold
            font-family $qz-sans
            font-size 16px

            select
                font-weight normal

#preview
    display: none
    width: 45%
    position: fixed
    left: 55%
    top: 10px

    .head
        height 45px

        span
            font-weight bold
            font-family $qz-sans
            line-height 2em
            font-size 16px

        button
            float right
            color white
            border none
            background-color $qz-purp-2
            font-family $qz-sans
            border-radius 3px
            margin 2px 14px 2px 0
            vertical-align middle
            padding 0px 8px
            line-height 2em

            &:focus
                outline 0

    table
        font-size 14px
        font-family $qz-sans
        text-align left
        border-collapse collapse

        th
            font-weight bold

        th, td
            padding 5px
            border 1px solid $qz-gray-1
            text-align right

            &.rows
                background-color $rowColor

            &.columns
                background-color $colColor

            &.values
                background-color $valColor

    #copytable
        display none
