body
    padding 10px
    border 5px dotted
    border-color $qz-background-gray
    height 100

.drop-border
    border-color lightgrey

.item-body
    h1
        font-size 36px
        font-weight bold
        margin-top 0
        margin-bottom 0

    h2
        margin-top 0
        margin-bottom 0

    p
        .hint
            font-size 0.8em

.section
    display none
    width 40%
    margin-top 20px

#intro
    display block
    margin-top 5px

#upload
    input
        margin-top 10px
        padding-bottom 16px     // Match <p>

#columns
    th
        text-align left
        vertical-align top

        .subhead
            color $qz-gray-2

    th, td
        padding 5px 15px 5px 5px

#options
    .option
        margin-bottom 10px

#preview
    display: none
    width: 55%
    position: fixed
    left: 45%
    top: 10px

    // #pivottable
    //     textarea
    //         width 90%
    //         height 400px
